@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-playson-red: #FF002A;
  --animate-shimmer: shimmer 2s linear infinite;
  --animate-gradient-x: gradient-x 15s ease infinite;

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes gradient-x {
    0%, 100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}
